{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}
    {{ page.body|richtext }}
{% endblock %}

{% comment %}

{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
{% endcomment %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% comment %}

<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}">
{% endblock extra_css %}

{% block content %}

{% endcomment %}
{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}

{% comment %}

{% include 'home/welcome_page.html' %}

{% endblock content %}

{% endcomment %}



